/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #006eff;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {

}

.sidebar li.search-box input {

}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 55px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close~.home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}





/* Invisible walls */


.invisible_wall_home_main_text {
  margin-left: -20px;
  margin-top: -100px;
}


.invisible_wall_home_containers {
  margin-left: 100px;
  margin-bottom: -200px;
}


.invisible_wall_home_space_text {
  height: 30px;
}


.invisible_wall_cat_home{
  margin-left: -950px;
  margin-bottom: -1900px;
}


.invisible_wall_cat_home{
  margin-left: -950px;
  margin-bottom: -1900px;
}


.invisible_wall_button_home_main{
  margin-left: -300px;
  margin-bottom: -2200px;
}





.invisible_wall_ajuda1 {
    height: 50px;
}


.invisible_wall_ajuda2 {
    border: none;
    height: 100px;
    margin-left: 680px;
    width: 900px;
}


.invisible_wall_ajuda3 {
    border: none;
    height: 100px;
    margin-left: 160px;
    width: 900px;
    font-size:30px;
    color: #fff;
}


.invisible_wall_ajuda4 {
    border: none;
    height: 100px;
    margin-left: 160px;
    width: 500px;
}


.invisible_wall_ajuda5 {
    height: 100px;
}


.invisible_wall_geral1 {
  border: none;
  height: 200px;
  margin-left: 680px;
  width: 900px;
}


.invisible_wall_geral2 {
  border: none;
  height: 20px;
  margin-left: 680px;
  width: 400px;
}


.invisible_wall_geral3 {
  border: none;
  margin-left: 1680px;
  width: 700px;
}


.invisible_wall_icon_top1 {
  border: none;
/*  margin-left: -1640px; */
  width: 200px;
  margin-top: 0px;
  margin-bottom: -32px;
  margin-left: -1620px;
}


.invisible_wall_icon_top2 {
  border: none;
  width: 200px;
  margin-top: 0px;
  margin-bottom: -32px;
  margin-left: -1560px;
}


.invisible_wall_icon_top3 {
  border: none;
  width: 200px;
  margin-top: -45px;
  margin-bottom: -23px;
  margin-left: 140px;
}


.invisible_wall_geral4 {
  border: none;
  margin-left: 1680px;
  height: 100px;
  width: 100px;
}


/* wall side bar */

.invisible_wall_ajuda6 {
  border: none;
  width: 40px;
  margin-left: 19px;
}


.invisible_wall_ajuda7 {
  border: none;
  height: 6px;
}


/* New font size? */

.h7 {
    font-family: "font/Caveat", Arial;
    font-size: 60px;
    margin-left: 2.5em;
}


.h8 {
    font-family: "font/Caveat", Arial;
    font-size: 60px;
    margin-left: 2.5em;
}


/* Buttons */

.button {
    margin-left: .5em;
    width: 220px;
    height: 78px;
    border-radius: 30px;
    border: none;
    color: white;
    box-shadow: 60px -16px rgb(100, 100, 100);
    cursor: pointer;
}


button {
    margin-left: .5em;
    background-color: #FF5722;
    width: 220px;
    height: 78px;
    border-radius: 15px;
    border: black;
    color: white;
    box-shadow: black;
    font-size: 25px;
    box-shadow: 8px 8px rgb(100, 100, 100);
    cursor: pointer;
}


.button:hover{
  border: solid rgb(70, 70, 70);
}


 button:hover{
  border: solid rgb(70, 70, 70) 3px;
}


/* Border */

.card_main_c {
  width: 1020px;
  height: 750px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
  background-color: rgb(255, 255, 255);
}


#containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin-top: 5px;
}


/* Select */

#select_home {
	width:120px;
	height:30px;
  border: none;
  background-color: #F6B04E;
  margin-top: -5px;
  margin-left: 1660px;
}

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 200;
  font-style: normal;
  padding: 20px;
  margin-top: -10px;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  margin-left: -540px;
}

.invisible_wall_ajuda6 {
    height: 10px;
}